

body {
    background-color: rgb(245, 245, 245);
    /* background: rgb(225,198,153);
background: linear-gradient(90deg, rgba(225,198,153,1) 0%, rgba(138,168,104,1) 100%); */
    background-size: cover;

}


/*Navbar*/
.navbar {
    background-color: rgb(245, 245, 245);
    /* background: rgb(213, 161, 70);
    background: linear-gradient(90deg, rgb(213, 161, 70) 0%, rgb(109, 167, 42) 100%); */
    align-items: center;
    justify-content: center;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0px 0px 10px rgba(26, 176, 49, 0.698);
}

#letras {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

#letras.active {
    color: green;
}

#letras.subra{
    color: green;
    text-decoration: underline;
}

.icono{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    height: 60px;
}



/*Contenido*/
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(1, 101, 1);
}

.boton-form{
    text-align: right;
    padding-top: 20px;
    
}






/*Footer*/
footer{
    left: 0px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    /* background: rgb(213, 161, 70);
background: linear-gradient(90deg, rgb(213, 161, 70) 0%, rgb(109, 167, 42) 100%); */
    font-family: 'Raleway', sans-serif; 
    text-align: center;
    /* border-top: 1.7px solid rgb(0, 0, 0); */
    box-shadow: 0px 0px 10px rgba(26, 176, 49, 0.698);

}


.container-footer a{
    text-decoration: none;
    font-size: 1.5rem;
}


.bi-github,
.bi-linkedin,
.bi-envelope {
    color: black; /* Cambia el color a negro */
}

.title{
    font-family: 'Josefin Sans', sans-serif;
}